@mixin media($breakpoint) {
  @if ($breakpoint == tablet) {
    @media (min-width: 48rem) {
      @content;
    }
  }

  @if ($breakpoint == desktop) {
    @media (min-width: 80rem) {
      @content;
    }
  }
}

@mixin alignMiddle {
  max-width: 90rem;
  margin-inline: auto;
}

$black-100: #464545;
$black-200: #221815;
