@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  width: 250px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: end;
  gap: 0.5rem;
  font-size: 0.75rem;

  & span {
    border-radius: 5px;
    padding: 0.125rem 0.5rem;
    font-weight: 700;
    font-family: monospace;
  }
}
