@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
}

.main_wrapper {
  @include alignMiddle;
  width: 100%;

  display: flex;
  justify-content: space-between;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.aside {
  display: none;

  @include media(tablet) {
    display: block;
  }
}

.footer {
  background-color: rgb(212, 212, 212);
  border-top: 2px solid rgb(199, 199, 199);
}
