@import "../../styles/variables";

.header {
  background-color: $black-200;
  color: white;

  border-bottom: 2px solid $black-100;

  position: sticky;
  top: 0;

  & h1 {
    font-family: monospace;
    font-size: 1.75rem;
  }

  & > div {
    @include alignMiddle;

    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  transition: background-color 250ms;

  & img {
    width: 22px;
    height: 22px;
  }

  &:hover {
    background-color: rgb(78, 78, 78);
  }
}

.img {
  // background-image: url("/images/park.jpg");
  background-position: center;
  background-size: auto;
  height: 300px;

  @include media(tablet) {
    background-size: cover;
    height: 300px;
  }

  @include media(desktop) {
    height: 500px;
  }
}

.navigator {
  background-color: $black-200;
  color: white;

  border-top: 2px solid $black-100;

  position: sticky;
  top: 0;

  & > div {
    @include alignMiddle;
    display: flex;
    align-items: center;
    padding-inline: 1.5rem;
  }

  & span {
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5rem 0;

    display: flex;
    gap: 0.5rem;
  }
}
