@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
}

.main_wrapper {
  @include alignMiddle;
  display: flex;
  margin-top: 32px;
}

.aside {
  display: none;

  @include media(tablet) {
    display: block;
  }
}
