@import "../../styles/variables";

.container {
  display: grid;
  grid-template-areas:
    "h h h"
    "m m a";
}

.header {
  grid-area: h;
}

.main {
  grid-area: m;
}

.aside {
  grid-area: a;

  display: none;

  @include media(tablet) {
    display: block;
  }
}
