@import "../../styles/variables";

.navigator {
  background-color: $black-200;
  color: white;

  border-top: 2px solid $black-100;

  position: sticky;
  top: 0;

  & > div {
    @include alignMiddle;
    display: flex;
    align-items: center;
    padding-inline: 1.5rem;
  }

  & span {
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5rem 0;

    display: flex;
    gap: 0.5rem;
  }
}
